In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import random
from sklearn.naive_bayes import GaussianNB

In [2]:
iteams=['LGTV','SamsungRefigerator','UshaIronBox','MorphyToaster','NikeShoes','Radowatch','RaybanGlasses','Garniearcream','MacBook','OnePlus6T','IphoneXs','Dell','WheelSoap','Turdal','Ketchup','GaramMasala']
iteams=np.array(iteams)

In [3]:
clicks=[]
timespent=[]
noofvisits=[]
data=[]
for i in range(iteams.shape[0]):
    a=random.randrange(25,99)
    b=random.randrange(0,1000)
    c=random.randrange(1,12)
    data.append([a,b,c])
    clicks.append(a)
    timespent.append(b)
    noofvisits.append(c)
data=np.array(data)

In [4]:
data[2]

array([ 48, 419,  10])

In [5]:
model=GaussianNB()
model.fit(data,iteams)

GaussianNB(priors=None)

In [6]:
model.predict(data)

array(['LGTV', 'SamsungRefigerator', 'UshaIronBox', 'MorphyToaster',
       'NikeShoes', 'Radowatch', 'RaybanGlasses', 'Garniearcream',
       'MacBook', 'OnePlus6T', 'IphoneXs', 'Dell', 'WheelSoap', 'Turdal',
       'Ketchup', 'GaramMasala'], dtype='|S18')

In [7]:
daincsv={"ProductName":iteams,"Click":clicks,"TimeSpent":timespent," Nob ofvisits ":noofvisits}

In [8]:
datincsv=pd.DataFrame(daincsv)

In [9]:
datincsv.to_csv('userpersonalizeddata.csv')

In [10]:
datincsv

     Nob ofvisits   Click         ProductName  TimeSpent
0                6     25                LGTV        401
1                8     87  SamsungRefigerator        383
2               10     48         UshaIronBox        419
3                4     98       MorphyToaster        772
4                6     32           NikeShoes        533
5                9     69           Radowatch        235
6                8     83       RaybanGlasses        917
7                7     87       Garniearcream        107
8                3     85             MacBook        971
9                5     28           OnePlus6T        552
10               2     80            IphoneXs        140
11               1     63                Dell          9
12               7     54           WheelSoap         57
13              10     46              Turdal        258
14               7     46             Ketchup        646
15               2     71         GaramMasala        172

In [11]:
def wishlistgenerate(j):
    nowishlist=[]
    ageofwishlistitems=[]
    for i in range(iteams.shape[0]):
        nowishlist.append(random.randrange(1,15))
        ageofwishlistitems.append(random.randrange(100,1599))
    wishlist={"No fo times added":nowishlist,"Ageing of iteams":ageofwishlistitems}
    wishlist=pd.DataFrame(wishlist)
    wishlist.to_csv('wishlist'+str(j)+'.csv')

In [12]:
for k in range(10):
    wishlistgenerate(k)

In [15]:
wishlist

    Ageing of iteams  No fo times added
0                808                 11
1                930                  9
2               1361                 13
3               1303                  9
4               1032                  8
5               1278                  2
6                693                  3
7                375                 13
8                170                 13
9               1450                  7
10               519                 11
11               524                 14
12              1513                  8
13               506                 13
14               739                 13
15              1570                  3

In [21]:
def generateuserdata(j):
    clicks=[]
    timespent=[]
    noofvisits=[]
    data=[]
    for i in range(iteams.shape[0]):
        print i
        a=random.randrange(25,99)
        b=random.randrange(0,1000)
        c=random.randrange(1,12)
        data.append([a,b,c])
        clicks.append(a)
        timespent.append(b)
        noofvisits.append(c)
    data=np.array(data)

    daincsv={"ProductName":iteams,"Click":clicks,"TimeSpent":timespent," Nob ofvisits ":noofvisits}

    datincsv=pd.DataFrame(daincsv)

    datincsv.to_csv('userpersonalizeddata'+str(j)+'.csv')

In [22]:
for k in range(10):
    generateuserdata(k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15