In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn import linear_model
from sklearn.linear_model import LogisticRegressionCV
from sklearn.naive_bayes import GaussianNB

data=[]
for i in range(3):
    data.append(pd.read_csv('/home/manthan/Desktop/paytm/Taaanthrics404-master/Paytmmodel/userdata/userresponse/userpersonalizeddata'+str(i)+'.csv'))

In [3]:
iteams=['LGTV','SamsungRefigerator','UshaIronBox','MorphyToaster','NikeShoes','Radowatch','RaybanGlasses','Garniearcream','MacBook','OnePlus6T','IphoneXs','Dell','WheelSoap','Turdal','Ketchup','GaramMasala']
iteams=np.array(iteams)
pname=['ElectronicsAppliances','Fashion','ComputerAndMobile','Grossaries']
pname=np.array(pname)

In [4]:
data[2]

    Unnamed: 0   Nob ofvisits   Click         ProductName  TimeSpent
0            0               1     40                LGTV        888
1            1               8     68  SamsungRefigerator        398
2            2              11     29         UshaIronBox         49
3            3               9     44       MorphyToaster        736
4            4               3     89           NikeShoes        625
5            5               1     82           Radowatch        487
6            6               9     67       RaybanGlasses        821
7            7               4     57       Garniearcream        584
8            8               3     92             MacBook         32
9            9               2     62           OnePlus6T        539
10          10               8     87            IphoneXs        785
11          11               7     58                Dell        867
12          12              10     64           WheelSoap         54
13          13               6     44              Turdal        198
14          14               4     70             Ketchup        684
15          15              11     84         GaramMasala        321

In [5]:
x=[]
y=[]
temp=np.array(data[2])
for i in range(temp.shape[0]):
    x.append([temp[i][1],temp[i][2],temp[i][4]])
    y.append(temp[i][0])
x=np.array(x)
y=np.array(y)

In [6]:
gnb=GaussianNB()
gnb.fit(x,y)

GaussianNB(priors=None)

In [7]:
treshold=[[5,90,700],[6,100,750]]
recomendedproductid=gnb.predict(treshold)
print("Suitable iteams for user based on his behaviour are "+str(iteams[recomendedproductid[0]])+" and "+str(iteams[recomendedproductid[1]]))

Suitable iteams for user based on his behaviour are Ketchup and IphoneXs